<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="/js/md5.min.js"></script>
<script>
    var gitalk = new Gitalk({
        // 请自行google gitalk接入流程，下面配置不要直接复制粘贴使用！
        clientID: 'Ov23liOch9ICXphJgVRF',
        clientSecret: '67548e82634df4b913b505c91f04aa27c5de6c26',
        repo: 'blog-commit-repo',  // 仓库的名字
        owner: 'iwts',
        admin: ['iwts'],
        id: md5(location.href),
        // Ensure uniqueness and length less than 50
        distractionFreeMode: false, // Facebook-like distraction free mode
        labels: ['Gitalk'],
        proxy: "https://cors-server.68756978.xyz/github_access_token"
    })

    gitalk.render('gitalk-container')
</script>