<!-- utteranc -->
<!-- <script src="https://utteranc.es/client.js"
    repo="iwts/blog-commit-repo"
    issue-term="pathname"
    label="utteranc"
    theme="github-light"
    crossorigin="anonymous"
    async>
</script> -->

<!-- giscus -->
<script src="https://giscus.app/client.js"
        data-repo="iwts/blog-commit-repo"
        data-repo-id="R_kgDOL9of_Q"
        data-category="Announcements"
        data-category-id="DIC_kwDOL9of_c4CfeBW"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>